@use '../../styles/colors' as colors;

.navbar__search {
  input {
    padding: 0.5rem 2rem;
    width: 180px;
    margin: 10px;
    color: colors.$text-color;
    border-radius: 5px;
    background-color: colors.$dark-navy-blue;
    outline: none;
    border: 1px solid colors.$light-grey;
    transition: 0.2s ease-in-out all;
    &:hover {
      border: 1px solid colors.$purple-secondary;
    }
    &::placeholder {
      color: colors.$text-color;
    }
  }
  svg {
    position: absolute;
    padding: 20px 0 0 20px;
    color: colors.$text-color;
  }
}
@media (min-width: 500px) {
  .navbar__search {
    margin-left: 20px;

    input {
      width: 250px;
    }
  }
}
