@use '../../styles/colors' as colors;

.box__shows,
.box__movies {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &_show,
  &_movie {
    position: relative;
    display: flex;
    background-color: #141414;
    margin: 0 10px 0 10px;
    height: 200px;
  }
  &__imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    img {
      height: 180px;
      width: 100px;
    }
    button {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 50px;
      width: 32px;
      border: none;
      clip-path: polygon(100% 0, 100% 100%, 50% 68%, 0 100%, 0 0);
      background-color: colors.$light-grey;
      cursor: pointer;
      outline: none;
      opacity: 0.9;
      transition: 0.2s ease-in-out all;
      border-top-left-radius: 3px;
      &:hover {
        background-color: colors.$grey;
        color: colors.$white;
      }
      .faPlus {
        position: relative;
        top: -5px;
        color: colors.$white;
        height: 16px;
      }
    }
    &_image {
      margin: 10px;
      object-fit: cover;
      border: 1px solid colors.$black;
      transition: 0.2s ease-in-out all;
      border-radius: 3px;
      img {
        border-radius: 3px;
        width: 120px;
        height: 200px;
      }
      &:hover {
        border: 1px solid colors.$purple;
      }
    }
  }

  &_data {
    margin: 10px 0 10px 0;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
      font-size: 14px;
      color: colors.$white;
    }
  }

  &_about {
    display: flex;
    gap: 5px;
    p {
      font-size: 10px;
      color: colors.$sub-text;
    }
  }
  &_rating {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;

    &__row {
      display: flex;
      justify-content: space-around;
    }
    &__column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      img {
        height: 20px;
        width: auto;
      }
    }
  }
}
@media (min-width: 425px) {
  .box__movies,
  .box__shows {
    &_data {
      p {
        font-size: 16px;
      }
    }
    &_rating {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 5px;

      &__row {
        display: flex;
        justify-content: center;
        gap: 50px;
        width: 100%
      }
      &__column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
      }
      &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        img {
          height: 20px;
          width: auto;
        }
      }
    }
  }
}
@media (min-width: 630px) {
  .box__movies,
  .box__shows {
    &_data {
      p {
        font-size: 16px;
      }
    }
    &_image {
      width: 120px;
      height: 180px;
    }
    &_show,
    &_movie {
      height: 230px;
      width: 600px;
    }
    &__imageContainer {
      img {
        width: 140px;
        height: 210px;
      }
    }
  }
}
